<div class="flex h-screen">
  <div
    class="fixed left-0 top-0 w-48 h-full bg-gradient-to-b from-neutral-900 to-neutral-700 text-white pt-6 px-4 shadow-lg"
  >
    <div class="flex items-center justify-center my-4">
      <h1 class="text-2xl font-extrabold">Cv-GEN</h1>
    </div>
    <ul>
      <li
        class="text-lg font-semibold my-8 py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">Home</p>
      </li>
      <li
        class="text-lg font-semibold my-8 py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">History</p>
      </li>
      <li
        class="text-lg font-semibold my-8 py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">Update CV</p>
      </li>
      <li
        class="text-lg font-semibold mt-8 py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">Log Out</p>
      </li>
    </ul>
  </div>
  <!-- Main Content Area -->
  <div class="flex-1 p-4 h-auto ml-48">
    <h1 class="text-4xl font-extrabold text-neutral-800 text-center">
      Welcome to Cv-GEN
    </h1>
    <p class="text-lg font-medium text-neutral-700 my-2 text-center">
      With our templates, you can easily create a CV. Choose your CV template
      below.
    </p>
    <app-cv-templates></app-cv-templates>
  </div>
</div>
