<div class="flex">
  <div
    class="fixed left-0 top-auto w-64 h-full bg-neutral-900 text-white p-6 shadow-lg"
  >
    <ul>
      <li
        class="text-lg font-semibold py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">Home</p>
      </li>
      <li
        class="text-lg font-semibold py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">History</p>
      </li>
      <li
        class="text-lg font-semibold py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">Update CV</p>
      </li>
      <li
        class="text-lg font-semibold py-4 rounded-lg hover:bg-white hover:text-neutral-900 cursor-pointer transition-all"
      >
        <p class="text-center">Log Out</p>
      </li>
    </ul>
  </div>
  <div class="ml-64 p-6">
    <h1 class="text-2xl font-semibold">Home Page Content</h1>
    <p>Put your home page content here...</p>
  </div>
</div>
